{% extends 'base.html' %} {% block linkbonus %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename = './css/chatbot.css' )}}"
/>

<script defer src="{{url_for('static', filename = './js/chatbot.js')}}"></script>
{% endblock %} {% block content %}

<div>
  <div class="row">
    <h2 class="text-center my-4 ai-creator-header">AI Creator</h2>

    <div class="chat-container">
      <div class="chat-box" id="chat-box">
        <div class="chat-content" id="chat-content">
          <!-- Chat messages will be added here -->
        </div>
      </div>
      <div class="input-container">
        <input type="text" id="user-input" placeholder="Type a message..." />
        <button id="send-btn">Send</button>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
