{% extends 'base.html' %} {% block linkbonus %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename = 'css/homepage-default.css' )}}"
/>
<script
  defer
  src="{{url_for('static', filename = 'js/homepage-default.js')}}"
></script>
<!-- Add Bootstrap CSS and JS CDN links -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% endblock %} {% block content %}
<div>
  <div class="row">
    <h1
      class="text-center"
      style="
        margin-top: 3rem;
        font-weight: 300;
        font-size: 3.5rem;
        color: rgb(9, 176, 9);
        margin-bottom: 2rem;
      "
    >
      New Feeds
    </h1>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides with background images -->
        <div class="swiper-slide" style="position: relative">
          <div
            class="slide-background"
            style="
              background-image: url('https://images.unsplash.com/photo-1615310748170-29d7088865ad?q=80&w=2960&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            "
          ></div>
          <div class="overlay"></div>
          <div class="text-overlay">
            <span style="color: white; font-weight: 300"
              >From December 2023</span
            >
            <h2 style="color: lightgreen">AI CREATOR DESIGN</h2>
          </div>
        </div>
        <div class="swiper-slide" style="position: relative">
          <div
            class="slide-background"
            style="
              background-image: url('https://images.unsplash.com/photo-1520591799316-6b30425429aa?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHJlY3ljbGVkJTIwY2xvdGhlc3xlbnwwfHwwfHx8MA%3D%3D');
            "
          ></div>
          <div class="overlay"></div>
          <div class="text-overlay">
            <span style="color: lightgray; font-weight: 300; text-align: center"
              >Don't waste your left over</span
            >
            <h2 style="color: #aabaf8">Substance Fashion</h2>
          </div>
        </div>
        <div class="swiper-slide" style="position: relative">
          <div
            class="slide-background"
            style="
              background-image: url('https://images.unsplash.com/photo-1578939662863-5cd416d45a69?q=80&w=2907&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            "
          ></div>
          <div class="overlay"></div>
          <div class="text-overlay">
            <span style="color: lightgray; font-weight: 300; text-align: center"
              >Give your old clothes another life</span
            >
            <h2 style="color: #f3aaf8">With Our Service</h2>
          </div>
        </div>
        <div class="swiper-slide" style="position: relative">
          <div
            class="slide-background"
            style="
              background-image: url('https://images.unsplash.com/photo-1604176354204-9268737828e4?q=80&w=2283&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            "
          ></div>
          <div class="overlay"></div>
          <div class="text-overlay">
            <span style="color: lightgray; font-weight: 300; text-align: center"
              >Save your wallet</span
            >
            <h2 style="color: #f8ddaa">With AI</h2>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
      <div class="swiper-scrollbar"></div>
    </div>

    <div class="weird-icon-part">
      <div
        class="international-brand"
        style="text-align: center; color: #93665b; font-weight: 800 !important"
      >
        <img src="../static/images/image 47.png" alt="" />
        <h6>International Brand</h6>
      </div>
      <div
        class="international-brand"
        style="text-align: center; color: #93665b; font-weight: 800 !important"
      >
        <img src="../static/images/image 49.png" alt="" />
        <h6>Greenlife Blog</h6>
      </div>
      <div
        class="international-brand"
        style="text-align: center; color: #93665b; font-weight: 800 !important"
      >
        <img src="../static/images/image 31.png" alt="" />
        <h6>Get Voucher Now</h6>
      </div>
      <div
        class="international-brand"
        style="text-align: center; color: #93665b; font-weight: 800 !important"
      >
        <img src="../static/images/image 48.png" alt="" />
        <h6>Donate For Charity</h6>
      </div>
      <div
        class="international-brand"
        style="text-align: center; color: #93665b; font-weight: 800 !important"
      >
        <img src="../static/images/image 50.png" alt="" />
        <h6>ReCo Community</h6>
      </div>
    </div>

    <div class="best-seller-example">
      <h2
        style="font-weight: 700; margin-left: 4rem !important; margin-top: 3rem"
      >
        Best Seller Example
      </h2>
      <div class="button-div">
        <button class="filter-button mr-4">
          <i
            style="color: #252b42; font-size: 1.5rem"
            class="fa-solid fa-grip"
          ></i>
        </button>
        <button class="filter-button">
          <i
            style="color: #737373; font-size: 1.5rem"
            class="fa-solid fa-list-check"
          ></i>
        </button>
      </div>
      <div class="row mt-4 justify-content-center">
        <div class="col-sm-3 product-card d-flex flex-column text-center mb-4">
          <img
            src="../static/images/image 29.png"
            class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} product-img"
            alt=""
          />
          <h5 class="product-name">Jewelry form electrical leftovers</h5>
          <h6 class="product-price">49.000 VND</h6>
        </div>
        <div class="col-sm-3 product-card d-flex flex-column text-center mb-4">
          <img
            src="../static/images/image 28.png"
            class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} product-img"
            alt=""
          />
          <h5 class="product-name">Chairs and table from tires</h5>
          <h6 class="product-price">500.000 VND</h6>
        </div>
        <div class="col-sm-3 product-card d-flex flex-column text-center mb-4">
          <img
            src="../static/images/image 13.png"
            class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} product-img"
            alt=""
          />
          <h5 class="product-name">Hoodie from old Jean and T-shirt</h5>
          <h6 class="product-price">299.000 VND</h6>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
