@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,500&display=swap");

* {
  font-family: "Poppins";
}

.reco-nav {
  background-color: #f7ffe5 !important;
  justify-content: space-around !important;
}

#avatar {
  border-radius: 50%;
}

.shopping-cart {
  color: #00640a !important;
  font-size: 1.5rem;
}

#searchbar {
  width: 35vw;
}

.log-out-button {
  background-color: #ff8282 !important;
  padding: 4px 16px;
  border-radius: 1rem;
  font-weight: 600;
  margin-left: 2rem;
  border: 3px solid black !important;
}
.navbar-right {
  display: flex;
  flex-direction: column;
}

#navbarNav {
  align-self: flex-end;
  margin-bottom: 1rem;
}

.nav-item {
  margin-right: 13px;
}
